streamlit==1.54.0

# ----------------------
# LangChain (stable)
# ----------------------
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.40
langchain-openai==0.1.7
langchain-huggingface==0.0.3

# ----------------------
# Vector DB (safe)
# ----------------------
chromadb==0.4.24

# ----------------------
# Embeddings
# ----------------------
sentence-transformers==5.2.2

# ----------------------
# OpenAI
# ----------------------
openai==2.17.0
tiktoken

# ----------------------
# PDF
# ----------------------
pypdf

# ----------------------
# Intent model (LET PIP DECIDE TORCH)
# ----------------------
transformers==4.39.3
sentencepiece
accelerate
